/* style.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Header styles */
header {
    color: #0068a8;
    padding: 10px;
    text-align: center;
  font-size: 30px;
}

header h1 {
    margin: 0;
  padding: 20px;
  text-align: center;
}

h2{
  padding: 0px;
}

/* Navigation styles */
nav {
    /*background-color: #a69191;*/
    color: #fff;
    text-align: center;
    padding: 25px;
    background-color: #333;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  font-size: 20px;
}

/* Main content styles */
main {
    padding: 0px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

/* Contact section styles */
#contact {
    background-color: #9ad3db;
    padding: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#contact h2 {
    margin-top: 0;
}

#contact p {
    margin-bottom: 10px;
}

#contact a {
    color: #007bff;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}

#p{
  text-align: left;
  font-size: 20px;
}
